/*
COLORS: 
    #231F20 black
    #426C95 blue
    #F15F4E red
    #F4D550 yellow
    #FAF7CA white
*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAF7CA;
    color: #231F20;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0;
    width: 100%;
    height: 100%;
}

.header > h1, h2 {
    margin: 0;
    flex: 100%;
    width: 100%;
    text-align: center;
    background-color: #F15F4E;
    color: #FAF7CA;
}

.about-me {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.about-me > h3 {
    background-color: #426C95;
    color: #F4D550;
    text-align: center;
    padding: 1em;
    margin: 0;
    flex: 100%;
    width: 100%;
}

.about-me > p {
    padding: 1em;
    text-align: center;
    flex: 60%;
    background-color: #FAF7CA;
    color: #231F20;
    margin: 0;
    width: 100%;
}

