/*
COLORS: 
    #231F20 black
    #426C95 blue
    #F15F4E red
    #F4D550 yellow
    #FAF7CA white
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAF7CA;
    color: #231F20;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: #231F20 0.2rem solid;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #426C95;
    color: #FAF7CA;
}

.header > h1, h2 {
    margin: 5px;
    flex: 1;
}

.about-me {
    flex: 1; 
    display: flex;
    flex-direction: column;
    border: #231F20 0.2rem solid;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #F15F4E;
}

.about-me > h3 {
    margin: 0.75rem;
    flex: 1;
}

.about-me > p {
    margin: 0.5rem;
    flex: 1;
}

/* handle the flexboxing for larger screens */
/* first set flex for the skills container */
.skills {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: #231F20 0.2rem solid;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #426C95;
}

.skills > h3 {
    margin: 0.75rem;
    width: 100%;
}

/* set flex for skill rows */
.skill-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
}

/* set flex for each skill */
.skill {
    flex: 1;
    margin: 0.5rem;
    border: #231F20 0.2rem solid;
    border-radius: 1rem;
    text-align: center;
    background-color: #F4D550;
}

/* when skills are hovered over they expand and the background color changes */
.skill:hover {
    background-color: #FAF7CA;
    flex: 1.25;
}


.skill > h4 {
    margin: 0.5rem;
}

.skill > p {
    margin: 0.5rem;
}

/* handle the flexboxing for smaller screens */
@media (max-width: 500px) {
    .skill-row {
        flex-direction: column;
    }
}