body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#intro {
    text-align: center;
    margin: 2rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#root a {
    color: #007bff;
    text-decoration: none;
}

#root a:hover {
    text-decoration: underline;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-left: 1px solid #ccc;
}

#content h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

#content p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}