/*
COLORS: 
    #231F20 black
    #426C95 blue
    #F15F4E red
    #F4D550 yellow
    #FAF7CA white
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAF7CA;
    color: #231F20;
}

h1,h2,h3,h4 {
    font-family: 'Roboto Slab', serif;
}


header {
    border: #231F20 0.2rem solid;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #426C95;
    color: #FAF7CA;
}

header>h1,h2 {
    margin: 5px;
}

.about-me {
    border: #231F20 0.2rem solid;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #F15F4E;
}

.about-me>h3 {
    margin: 0.75rem;
}

.about-me>p {
    margin: 0.5rem;
    padding: 0.5rem;
    flex: 1;
}

.skills-container {
    border: #231F20 0.2rem solid;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #426C95;
}

.skills-container>h3 {
    margin: 0.75rem;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 20rem;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.skill {
    margin: 0.5rem;
    border: #231F20 0.2rem solid;
    border-radius: 1rem;
    text-align: center;
    background-color: #F4D550;
}


.skill:hover {
    background-color: #FAF7CA;
}


.skill>h4 {
    margin: 0.5rem;
}

.skill>p {
    margin: 0.5rem;
    width: 20rem;
    height: 10rem;
}
